
.icon-user-outline:before { content: '\e800'; } /* '' */
.icon-graph:before { content: '\e801'; } /* '' */
.icon-clock-alt:before { content: '\e802'; } /* '' */
.icon-activity:before { content: '\e803'; } /* '' */
.icon-filter:before { content: '\e804'; } /* '' */
.icon-setting:before { content: '\e805'; } /* '' */
.icon-heart-empty:before { content: '\e806'; } /* '' */
.icon-chart-line:before { content: '\f201'; } /* '' */
